* {
	-manu-main-color: #880000;
	-manu-secondary-color: white;
}

.manu-ui {
	-fx-background-color: -manu-secondary-color;
}

.output-scroll-pane {
	-fx-background-color: -manu-secondary-color;
	-fx-border-color: -manu-main-color;
	-fx-border-width: 0.3em;
}

.output-scroll-pane .scroll-bar .increment-button, .output-scroll-pane .scroll-bar .decrement-button
	{
	-fx-background-color: -manu-secondary-color;
	-fx-border-color: -manu-main-color;
}

.output-scroll-pane .scroll-bar .increment-arrow, .output-scroll-pane .scroll-bar .decrement-arrow
	{
	-fx-background-color: -manu-main-color;
}

.output-scroll-pane .scroll-bar .thumb {
	-fx-background-color: -manu-secondary-color;
	-fx-background-radius: 0;
}

.output-scroll-pane .scroll-bar .track {
	-fx-background-color: -manu-main-color;
}

.output-text-flow {
	-fx-padding: 0.5em;
}

.button {
	-fx-background-color: -manu-main-color, -manu-secondary-color;
	-fx-background-insets: 0, 0.15em;
	-fx-padding: 0.9em;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-background-radius: 0;
}

.button:hover {
	-fx-background-color: derive(-manu-main-color, -5%),
		derive(-manu-secondary-color, -5%);
}

.button:pressed {
	-fx-background-color: derive(-manu-main-color, -10%),
		derive(-manu-secondary-color, -10%);
}